body
{
    background-color: #316EF0;
    margin:0;
    padding:0;
}

.main-title
{
    display:flex;
    justify-content:center;
    align-items:center;
    text-shadow: 0px 0px 10px black;
}

.main-title h1
{
    color:white;
    font-size:5rem;
    font-family: Calibri;
}


.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100%;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

  }
    /* Hide scrollbar for Chrome, Safari and Opera */
.container::-webkit-scrollbar {
    display: none;
  }

  
  .container .half {
    scroll-snap-align: start;
    height: 50vh;
  }
  .half
  {    
      position: relative;
  }

  .dot
  {
      position: absolute;
      width:3vh;
      height:3vh;
      border-radius: 50%;
      background-color: #316EF0;
      border:4px solid white;
      top:50%;
      left:50%;
      transform:translate(-50%, -50%);
  }


.container .half:nth-child(2) .dot {
    top:2.5vh;
    background-color: #5a5a5a;
}

.container .half:nth-child(6) .dot {
    background-color: #5a5a5a;
    top:47.5vh;
}




  .middle-line
  {
      height:50.1vh;
      width:1vh;
      position: relative;
      background-color: #103FA3;
      left:50%;
      top:50%;
      transform:translate(-50%, -50%);
  }

  .container .half:nth-child(2) .middle-line {
    height:47.6vh;
    top:2.5vh;
    transform:translate(-50%, 0);
}
.container .half:nth-child(6) .middle-line {
    height:47.5vh;
    top:0vh;
    transform:translate(-50%, 0);
}


.text-box
{
    position:absolute;
    width:fit-content;
    max-width: 30vw;
    background-color:rgba(0, 0, 0, 0.65);
    top:25vh;
    transform:translate(50%, -50%);
    border-radius: 1vh;
	font-family:calibri;
	color:white;
}


.container .half .text-box {
    right:75vw;
}

.container .half:nth-child(2n) .text-box {

    left:75vw;
    transform:translate(-50%, -50%);
}

.container .half:nth-child(2) .text-box {
    top:2.5vh;
    transform:translate(-50%, 0);
}
.container .half:nth-child(6) .text-box {
    bottom:2.5vh;
    transform:translate(-50%, 0);
}


.title-box
{
    position:absolute;
    top:25vh;
    max-width: 40vh;
    transform:translate(50%, -50%);
    text-align: center;
    color:white;
    font-family: calibri;
    font-size:5vh;
    text-shadow: 0px 0px 10px black;
}


.container .half .title-box {
    right:25vw;
    
}

.container .half:nth-child(2n) .title-box {
    left:25vw;
    transform:translate(-50%, -50%);
}

.container .half:nth-child(2) .title-box {
    top:2.5vh;
    transform:translate(-50%, 0);
}
.container .half:nth-child(6) .title-box {
    top:37.5vh;
    transform:translate(-50%, 0);
}

.text-box p,h1
{
    padding-left:1.5vh;
    padding-right:1.5vh;
}
.text-box h1
{
    font-size: 4vh;
}
.text-box p
{
    font-size:2.5vh;
}


.bottom-space
{
    position:fixed;
    bottom:0vh;
    width:100vw;
    height:10vh;
    background-color: rgba(255, 255, 255, 0.4);
}
.bottom-icon
{
    position:absolute;
    left:50vw;
    transform: translate(-50%, 0);
    width:10vh;
    height:10vh;
    animation: shake 5s;
    animation-iteration-count: infinite;
}

  
@keyframes shake {
    0% { transform: translate(calc(-50% + 1px), 1px) rotate(0deg); }
    1% { transform: translate(calc(-50% -1px), -2px) rotate(-1deg); }
    2% { transform: translate(calc(-50% -3px), 0px) rotate(1deg); }
    3% { transform: translate(calc(-50% + 3px), 2px) rotate(0deg); }
    4% { transform: translate(calc(-50% + 1px), -1px) rotate(1deg); }
    5% { transform: translate(calc(-50% -1px), 2px) rotate(-1deg); }
    6% { transform: translate(calc(-50% -3px), 1px) rotate(0deg); }
    7% { transform: translate(calc(-50% + 3px), 1px) rotate(-1deg); }
    8% { transform: translate(calc(-50% -1px), -1px) rotate(1deg); }
    9% { transform: translate(calc(-50% + 1px), 2px) rotate(0deg); }
    10% { transform: translate(calc(-50% + 1px), -2px) rotate(-1deg); }
  }



  .container .half
  {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }



  .container .half:nth-child(2)
  {
      background-image:url("green-background.jpg");

  }
  .half-image
  {
      position: absolute;
      width:50%;
      height:100%;
      
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius:20px;
  }

  .black-title
  {
    color:black;
    text-shadow: 0px 0px 10px white;
  }